name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    # 忽略 urls.txt 变动，防止爬虫运行完重复构建镜像
    paths-ignore:
      - 'urls.txt'
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # 【优化】使用 secret 变量，更安全
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/web-bot:latest
